<% if !@cart.nil? && @cart.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @cart.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if @carts.size == 0 %>
  <p class="text-center">
    There are no items in your shopping cart.  Please <%= link_to "go back", root_path %> and add some items to your cart.
  </p>
<% else %>
  <% @carts.each do |cart| %>
    <%= render 'carts/cart_row', product: cart.product, cart: cart, show_total: true %>
  <% end %>
<% end %>
